@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
    color: #242424;
}

.flex-container {
    display: flex;
}

.sidebar {
    flex: 0 0 20%;
    height: 100vh;
}

.nav {
    display: flex;
    height: 15%;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
}

.content {
    flex-grow: 1;
    word-wrap: break-word;
}

.social-bar {
    display: flex;
    flex-direction: row;    
    margin-top: 15%;
    margin-bottom: 15%;
}

.social-icon {
    margin-right: 10px;
    height: 24px;
    width: 24px;
}

.icon-svg {
    width:24px;
    height:24px;
    fill: #242424;
    stroke: #242424;
}

.icon-svg:hover {
    fill: #ADD8E6;
    stroke: #ADD8E6;
}

.copy-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 0;
    margin-right: 10px;
}

body {
    margin-left: 20%;
    margin-right: 15%;
    margin-top: 5%;
}